:root {
    --color-white: #fff;
    --time-animation: 0.6s;
  }
 

/************  ANIMATIONS  ************/



    @keyframes pulse_up {
      0% {
        transform: translateY(0px) rotate(180deg);
      }
      50% {
        transform: translateY(25px) rotate(180deg);
      }
      100% {
        transform: translateY(0px) rotate(180deg);
      }
  }

  @keyframes pulse_down {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(25px);
    }
    100% {
      transform: translateY(0px);
    }
  }


/****  ANIMATIONS  ---  Section 5  ****/

/* @keyframes d_letter {
  0% {
    color: rgb(255, 255, 255);
    top: 50%;
    left: 35.5%;;
  }
  50%{
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    
    left: 15.5%;
  }
  70%{
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    
    left: 5.5%;
  }
  
  100%{

  }
}
*/


/************  HTML  ************/


  html {
    scrollbar-width: none;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: Rubik;
    overflow: hidden scroll;
    -ms-overflow-style: none;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  .layout {
    width: 100%;
    height: calc(100vh * 3);
    position: relative;
  }
  .layout .section-stick {
    margin: auto;
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    justify-content: flex-start;
    z-index: 1000;
  }
  .layout .section-stick .stick,
  .layout .section-stick .active {
    width: 13px;
    height: 62px;
    border: none;
    border-radius: 9px;
  }
  .layout .section-stick .stick {
    position: relative;
    display: none;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.4);
    transition: all var(--time-animation) ease-in-out;
  }
  .layout .section-stick .active {
    position: absolute;
    background-color: var(--color-white);
    box-shadow: 0px 0px 12px 1px var(--color-white);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }
  .layout section {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-white);
    font-size: 80px;
    font-weight: 600;
    transform: translateY(100vh);
    transition: all var(--time-animation) ease-in-out;
    z-index: 0;
  }
  .layout section .home {
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    align-items: center;
  }
  .layout section .home svg {
    animation: pulse_down 1.4s linear infinite normal;
    position:fixed;
    bottom: 5%;
  }


  .container{
    display: flex;
    justify-content: center;
  }


  .animated{
    width: 400px;
    height: 220px;
    background-position: center;
    background-size: cover;
    background-image: url();
  }



    /*************    EFECCTS    **************/

    .flecha_arriba {
      animation: pulse_up 1.4s linear infinite normal;
      position:fixed;
      top: 1.5%;
    }
  
    .flecha_abajo {
      animation: pulse_down 1.4s linear infinite normal;
      position:fixed;
      bottom: 3%;
    }


    /*************    SECTION 1    **************/


  .layout .s1 {
    background-image: linear-gradient(to bottom, #434343, #4c4c4c, #555555, #5e5e5e, #686868, #767577, #868386, #969094, #b3a4a6, #cebab4, #e3d3c2, #eeefd5);
    transform: translateY(0);
    z-index: 4;
  }


    /*************    SECTION 2    **************/


  .layout .s2 {
    background: rgb(255,255,255);
    background-image: linear-gradient(to bottom, #eeefd5, #eeefd5, #eeefd5, #eeefd5, #eeefd5, #eeefd5, #eeefd5, #eeefd5, #eeefd5, #eeefd5, #eeefd5, #eeefd5);
    z-index: 3;
  }

  .layout .s2 #s2_content{
    width: 50%;
    color: #525252;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
  }


  /*SECTION 2  - Text 1*/


  .layout .s2 #s2_content #texto_1_s2{
    font-weight: 800;
    opacity: 0;
    transform: scale(0.9);
    transition: 1s ease-in-out all;
  }

  .layout .s2 #s2_content #texto_1_s2.izquierda{
    transform:translateX(-100px);
  }

  .layout .s2 #s2_content #texto_1_s2.visible{
    opacity: 1;
    transform: scale(1);
    transform: translateX(0);
  }


    /*SECTION 2  - Text 2*/


  .layout .s2 #s2_content #texto_2_s2{
    transition-delay: 1s;
    font-weight: 800;
    opacity: 0;
    transition: 1s ease-in-out all;
  }

  .layout .s2 #s2_content #texto_2_s2.derecha{
    transform:translateX(100px);
  }

  .layout .s2 #s2_content #texto_2_s2.visible{
    opacity: 1;
    transform: scale(1);
    transform: translateX(0);
  }


    /*************    SECTION 3    **************/


  .layout .s3 {
    z-index: 2;
    background: rgb(63,239,217);
    background-image: linear-gradient(to bottom, #eeefd5, #e6d7c6, #d6c2bb, #bfb0b1, #a69fa3, #988c96, #867a8c, #716a83, #61537c, #533c74, #46236a, #3a015f);
    opacity: 1;
  }

  .layout .s3 #s3_content{
    display: flex;
    flex-direction: column;
    width: 50%;
    color: #ffffff;
    font-size: 2rem;
  }


    /*SECTION 3  - Title 1*/


   .layout .s3 #s3_content #title_1_s3{
    font-weight: 800;
    opacity: 0;
    transform: scale(0.9);
    transition: 1s ease-in-out all;
  }

  .layout .s3 #s3_content #title_1_s3.izquierda{
    transform:translateX(-100px);
  }

  .layout .s3 #s3_content #title_1_s3.visible{
    opacity: 1;
    transform: scale(1);
    transform: translateX(0);
  }


    /*SECTION 3  - Text 1*/


    .layout .s3 #s3_content #text_1_s3{
      font-weight: 800;
      opacity: 0;
      transform: scale(0.9);
      transition: 1s ease-in-out all;
    }
  
    .layout .s3 #s3_content #text_1_s3.derecha{
      transform:translateX(100px);
    }
  
    .layout .s3 #s3_content #text_1_s3.visible{
      opacity: 1;
      transform: scale(1);
      transform: translateX(0);
    }


    /*SECTION 3  - Text 1*/


    .layout .s3 #s3_content #text_2_s3{
      font-weight: 800;
      opacity: 0;
      transform: scale(0.9);
      transition: 1s ease-in-out all;
    }
  
    .layout .s3 #s3_content #text_2_s3.izquierda{
      transform:translateX(-100px);
    }
  
    .layout .s3 #s3_content #text_2_s3.visible{
      opacity: 1;
      transform: scale(1);
      transform: translateX(0);
    }


    /*************    SECTION 4    **************/

    
  .layout .s4 {
    background: rgb(54,51,216);
    background-image: linear-gradient(to bottom, #3a015f, #400e62, #461965, #4c2367, #512c6a, #4d3773, #48417b, #444a81, #31568a, #19628e, #006c8f, #03758d);
    z-index: 1;
  }


  .layout .s4 #s4_content{
    display: grid;
    grid-template-areas:
    "title_1_s4 title_1_s4"
    "section_1 section_2"
    "section_3 section_4";
    color: #ffffff;
    font-size: 30px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-items: center;
  }

  .layout .s4 #s4_content #title_1_s4{
    grid-area: title_1_s4;
    font-size: 1rem;
    opacity: 0;
    transform: scale(0.5);
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
    transition-delay: 1;
  }

  .layout .s4 #s4_content #title_1_s4.visible{
    opacity: 1;
    font-size: 2rem;
    transform: scale(1);
  }

  .layout .s4 #s4_content #area_1_s4{
    grid-area: section_1;
    font-size: 1.4rem;
    width: 70%;
    opacity: 0;
    transform: scale(0.9);
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
    transition-delay: 1.1s;
  }

  .layout .s4 #s4_content #area_1_s4.izquierda{
    transform:translateX(-100px);
  }

  .layout .s4 #s4_content #area_1_s4.visible{
    opacity: 1;
    transform: scale(1);
    transform: translateX(0);
  }

  .layout .s4 #s4_content #area_2_s4{
    grid-area: section_2;
    font-size: 1.4rem;
    width: 70%;
    opacity: 0;
    transform: scale(0.9);
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
    transition-delay: 1.6s;
  }

  .layout .s4 #s4_content #area_2_s4.arriba{
    transform:translateY(-100px);
  }

  .layout .s4 #s4_content #area_2_s4.visible{
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
  }

  .layout .s4 #s4_content #area_3_s4{
    grid-area: section_3;
    font-size: 1.4rem;
    width: 70%;
    opacity: 0;
    transform: scale(0.9);
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
    transition-delay: 1.6s;
  }

  .layout .s4 #s4_content #area_3_s4.abajo{
    transform:translateY(100px);
  }

  .layout .s4 #s4_content #area_3_s4.visible{
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
  }

  .layout .s4 #s4_content #area_4_s4{
    grid-area: section_4;
    font-size: 1.4rem;
    width: 70%;
    opacity: 0;
    transform: scale(0.9);
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
    transition-delay: 1.1s;
  }

  .layout .s4 #s4_content #area_4_s4.derecha{
    transform:translateX(100px);
  }

  .layout .s4 #s4_content #area_4_s4.visible{
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
  }



    /*************    SECTION 5    **************/

    
  .layout .s5 {
    background: rgb(225,70,217);
    background-image: linear-gradient(to bottom, #03758d, #17778b, #237989, #2d7a87, #367c85, #288388, #178988, #009087, #009c7f, #00a76e, #04b054, #47b82d);
    z-index: 1;
  }



  .layout .s5 #title_1_s5{
    font-size: 2rem;
    text-align: center;
    position: absolute;
    top:15%;
    /* transform: scale(0.9);
    opacity: 1;
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
    transition-delay: 0.4s; */
  }
/* 
  .layout .s5 #title_1_s5.visible{
    opacity: 1;
    font-size: 2rem;
    transform: scale(1);
  } */

/************ D letter ************/

  .layout .s5 #deep_s5 #d_s5{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -20%);
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
    transition-delay: 2s;
  }

  .layout .s5 #deep_s5 #d_s5.visible{
    top: 50%;
    left: 10%;
    transform: translate(-9%, 100%);
  }

  .layout .s5 #deep_s5 #d_s5 #d_letters{
    opacity: 0;
    color: rgb(255, 255, 255);
    top: 40%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-30%, -60%);
    transition-timing-function: ease-in-out all;
    transition-duration: 3s;
    transition-delay: 3s;
  }
  
   .layout .s5 #deep_s5 #d_s5 #d_letters.visible{
    opacity: 1;
    font-size: 2rem;
  }

  .layout .s5 #deep_s5 #d_s5 #d_letter{
  top: 40%;
  left: 50%;
  font-size: 4rem;
  transform: translate(-30%, -60%);
  opacity: 0.8;
  color: rgb(48, 48, 48);
  transition-timing-function: ease-in-out all;
  transition-duration: 2s;
  transition-delay: 2s;
  }

  .layout .s5 #deep_s5 #d_s5 #d_letter.visible{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    opacity: 1;
  }

  .layout .s5 #deep_s5 #d_s5 #d_text{
    opacity: 0;
    position: absolute;
    text-align: justify;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    transition-timing-function: ease-in-out all;
    transition-duration: 3s;
    transition-delay: 3s;
  }

  .layout .s5 #deep_s5 #d_s5 #d_text.visible{
    opacity: 1;
  }

/************ E1 letter ************/

  .layout .s5 #deep_s5 #e1_s5{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-11%, -20%);
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
    transition-delay: 1s;
  }

  .layout .s5 #deep_s5 #e1_s5.visible{
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
  }

  .layout .s5 #deep_s5 #e1_s5 #e1_letters{
    opacity: 0;
    color: rgb(255, 255, 255);
    top: 40%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-30%, -60%);
    transition-timing-function: ease-in-out all;
    transition-duration: 3s;
    transition-delay: 2s;
  }
  
   .layout .s5 #deep_s5 #e1_s5 #e1_letters.visible{
    opacity: 1;
    font-size: 2rem;
  }

  .layout .s5 #deep_s5 #e1_s5 #e1_letter{
  top: 40%;
  left: 50%;
  font-size: 4rem;
  transform: translate(-30%, -60%);
  opacity: 0.8;
  color: rgb(48, 48, 48);
  transition-timing-function: ease-in-out all;
  transition-duration: 2s;
  transition-delay: 1s;
  }

  .layout .s5 #deep_s5 #e1_s5 #e1_letter.visible{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    opacity: 1;
  }

  .layout .s5 #deep_s5 #e1_s5 #e1_text{
    opacity: 0;
    position: absolute;
    text-align: justify;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    transition-timing-function: ease-in-out all;
    transition-duration: 3s;
    transition-delay: 3s;
  }

  .layout .s5 #deep_s5 #e1_s5 #e1_text.visible{
    opacity: 1;
  }

/************ E2 letter ************/

  .layout .s5 #deep_s5 #e2_s5{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-1%, -20%);
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
    transition-delay: 2.5s;
  }

  .layout .s5 #deep_s5 #e2_s5.visible{
    top: 10%;
    left: 70%;
    transform: translate(-10%, -10%);
  }

  .layout .s5 #deep_s5 #e2_s5 #e2_letters{
    opacity: 0;
    color: rgb(255, 255, 255);
    top: 40%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-30%, -60%);
    transition-timing-function: ease-in-out all;
    transition-duration: 3s;
    transition-delay: 3.5s;
  }
  
   .layout .s5 #deep_s5 #e2_s5 #e2_letters.visible{
    opacity: 1;
    font-size: 2rem;
  }

  .layout .s5 #deep_s5 #e2_s5 #e2_letter{
  top: 40%;
  left: 50%;
  font-size: 4rem;
  transform: translate(-30%, -60%);
  opacity: 0.8;
  color: rgb(48, 48, 48);
  transition-timing-function: ease-in-out all;
  transition-duration: 2s;
  transition-delay: 2.5s;
  }

  .layout .s5 #deep_s5 #e2_s5 #e2_letter.visible{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    opacity: 1;
  }

  .layout .s5 #deep_s5 #e2_s5 #e2_text{
    opacity: 0;
    position: absolute;
    text-align: justify;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    transition-timing-function: ease-in-out all;
    transition-duration: 3s;
    transition-delay: 4.5s;
  }

  .layout .s5 #deep_s5 #e2_s5 #e2_text.visible{
    opacity: 1;
  }

/************ P letter ************/

  .layout .s5 #deep_s5 #p_s5{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(13%, -20%);
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
    transition-delay: 1.5s;
  }

  .layout .s5 #deep_s5 #p_s5.visible{
    top: 45.5%;
    left: 10%;
    transform: translate(-15%, -100%);
  }

  .layout .s5 #deep_s5 #p_s5 #p_letters{
    opacity: 0;
    color: rgb(255, 255, 255);
    top: 40%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-30%, -60%);
    transition-timing-function: ease-in-out all;
    transition-duration: 3s;
    transition-delay: 2.5s;
  }
  
   .layout .s5 #deep_s5 #p_s5 #p_letters.visible{
    opacity: 1;
    font-size: 2rem;
  }

  .layout .s5 #deep_s5 #p_s5 #p_letter{
  top: 40%;
  left: 50%;
  font-size: 4rem;
  transform: translate(-30%, -60%);
  opacity: 0.8;
  color: rgb(48, 48, 48);
  transition-timing-function: ease-in-out all;
  transition-duration: 2s;
  transition-delay: 1.5s;
  }

  .layout .s5 #deep_s5 #p_s5 #p_letter.visible{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    opacity: 1;
  }

  .layout .s5 #deep_s5 #p_s5 #p_text{
    opacity: 0;
    position: absolute;
    text-align: justify;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    transition-timing-function: ease-in-out all;
    transition-duration: 3s;
    transition-delay: 3.5s;
  }

  .layout .s5 #deep_s5 #p_s5 #p_text.visible{
    opacity: 1;
    }

  .layout .s5 #deep_s5 #soul_text{
  position: absolute;
  top: 57%;
  left: 45%;
  font-size: 4rem;
  opacity: 0.8;
  color: rgb(48, 48, 48);
  }

/************ E1 letter ************/



/*

  .layout .s5 #deepsoulpulse_s5 #letter2_s5{
    left: 40%;
  }

  .layout .s5 #deepsoulpulse_s5 #letter3_s5{
    left: 44%;
  }

  .layout .s5 #deepsoulpulse_s5 #letter4_s5{
    left: 48%;
  }

  .layout .s5 #deepsoulpulse_s5 #letter5_s5{
    left: 52%;
  }

  .layout .s5 #deepsoulpulse_s5 #letter6_s5{
    left: 56%;
  }

  .layout .s5 #deepsoulpulse_s5 #letter7_s5{
    left: 60%;
  }

  .layout .s5 #deepsoulpulse_s5 #letter8_s5{
    left: 64%;
  }

  */

    /*************    SECTION 6    **************/

    
  .layout .s6 {
    background: rgb(238,40,25);
    background-image: linear-gradient(to bottom, #47b82d, #65b52e, #7ab133, #8aad3a, #97aa43, #a1ab43, #aaab43, #b4ac44, #c2b039, #d1b22d, #e1b51f, #f2b60a);
    z-index: 1;
  }

  .layout .s6 .imgs_s6{
    position:absolute;
    width: 170px;
    opacity: 0;
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
    transition-delay: 1.3s;
  }

  .layout .s6 #dog_img.izquierda{
    transform: translateX(-1000px);
  }


  .layout .s6 #flower_img.derecha{
    transform: translateX(1000px);
  }

  .layout .s6 #dog_img.visible{
    opacity: 1;
    transform: translateX(0px);
  }

  .layout .s6 #flower_img.visible{
    opacity: 1;
    transform: translateX(0px);
  }

  .layout .s6 #flower_img{
    transition-timing-function: ease-in-out all;
    transition-duration: 1s;
    transition-delay: 0.7s;
  }

    /*************    SECTION 7    **************/

    
  .layout .s7 {
    background: rgb(152,252,61);
    background-image: linear-gradient(to bottom, #f2b60a, #e7a827, #db9b36, #cd8f41, #bd8449, #bb7e46, #b97843, #b77240, #c46d33, #d26727, #e05f1b, #ef550d);
    z-index: 1;
  }


    /*************    SECTION 8    **************/

    
  .layout .s8 {
    background-image: linear-gradient(to bottom, #ef550d, #e55126, #d95035, #cb4f40, #bc5049, #bb4e49, #b94c4a, #b84a4a, #c54444, #d23d3c, #de3434, #e9292a);
    z-index: 1;
  }


  /*** RESPONSIVE ***/
  /* MOBILE */
  @media screen and (max-width: 576px) {
    body::-webkit-scrollbar {
      width: 0px;
      background: transparent;
      -webkit-appearance: none;
    }
    .layout .section-stick {
      right: 20px;
      bottom: 20px;
      transform: scale(0.7);
    }
    .layout section {
      font-size: 40px;
    }
  }